* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
}

.wrapper {
  width: 100%;
  height: 100vh;
}

main {
  display: flex;
}

#main-nav {

  height: calc(100% - 90px);
  background-color: black;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  overflow:hidden;
}

#main-nav .glyphicon {
  color: white;
  width: 35px;
  font-size: 30px;
}

#logo_box img {
  width: 100px;
  margin-right: 50px;
  margin-bottom: 30px;
}

#logo_box_xs img {
  width: 35px;
  margin-bottom: 30px;
}

.col-xs-2,
.col-sm-12 {
  border: 1px solid;
}

#content {
  background-color: #141922;
  width: 100%;
  height: calc(100vh - 90px);
  overflow-y: scroll;
}

#top_content {
  height: 90px;
  background-color: #080b12;
}

footer {
  background-color: #282828;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
}

footer .col-xs-4 {
  border: 1px solid black;
  height: 90px;
}


@media screen and (min-width:768px ) {
    #main-nav .glyphicon {
    font-size: 18px;
  }

}
